<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.inquiry.model.dao.InquiryDao">

	<!-- resultMap 정의 -->
	<resultMap id="InquiryResultMap"
		type="com.oo.inquiry.model.dto.Inquiry">
	</resultMap>

	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultMap="InquiryResultMap">
		SELECT *
		FROM inquiry_board;
	</select>
	
	<!-- 상세 게시글 조회 -->
	<select id="selectOne" resultType="Inquiry" parameterType="int">
		SELECT *
		FROM inquiry_board
		WHERE i_no = #{iNo};
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertInquiry" parameterType="Inquiry">
	   INSERT INTO inquiry_board (i_title, i_contents, i_files, i_reg_date, i_views, i_is_resolved, i_comments_count, i_category_name, user_no)
	   VALUES (#{iTitle}, #{iContents}, #{iFiles}, NOW(), 0, false, 0, #{iCategoryName}, 1);
	</insert>

	<!-- 게시글 삭제 -->
	<delete id="removeInquiry" parameterType="int">
		DELETE FROM inquiry_board
		WHERE i_no = #{iNo};
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="modifyInquiry" parameterType="Inquiry">
		UPDATE inquiry_board
		SET
			i_title = #{iTitle},
			i_contents = #{iContents}
		WHERE i_no = #{iNo};
	</update>
	
	<!-- 조회수 증가 -->
	<update id="increaseViews" parameterType="int">
	    UPDATE inquiry_board
	    SET i_views = i_views + 1
	    WHERE i_no = #{iNo};
	</update>
	
</mapper>